[:file [:import [:module "Bio"]] [:requires [:module "cutadapt"]] [:rule [:ruleHeader [:target "paired.bam"] [:dependency "*_R1_*.trimmed"] "," [:dependency "*_R2_*.trimmed"] "|" [:orderDependencies [:dependency "ref.fasta"]]] "bash" [:bashBlock [:codeline "echo \"do some bash\""] [:codeline "echo \"do some more bash\""]]] [:rule [:ruleHeader [:target "*_R1_*.filtered"] "," [:target "*_R2_*.filtered"] [:dependency "*_R1_*.fastq"] "," [:dependency "*_R2_*.fastq"]] [:bashBlock [:codeline "echo \"do some bash\""]]] [:rule [:ruleHeader [:target "merged.bam"] [:dependency "paired.bam"] "," [:dependency [:maybeDep [:dependency "unpaired.bam"]]]] "python" [:pythonBlock [:codeline "print \"do some python\""]]] [:rule [:ruleHeader [:target [:extension "." "filtered"]] "," [:target [:extension "." "filtered"]] [:dependency "*_R1_*.fastq"] "," [:dependency "*_R2_*.fastq"]] [:bashBlock [:codeline "echo \"example with extensions\""]]] [:comment "A comment"]]